# Data Wrangling - La cirugía de los datos



El __data wrangling__, a veces denominada __data munging__, es el proceso de transformar y mapear datos de un dataset raw (en bruto) en otro formato con la intención de hacerlo más apropiado y valioso para una variedad de propósitos posteriores, como el análisis. 
+ Un __data wrangler__ es una persona que realiza estas operaciones de transformación.

Esto puede incluir:
- munging
- visualización de datos 
- agregación de datos
- entrenamiento de un modelo estadístico 
- otros usos potenciales... 

La oscilación de datos como proceso generalmente sigue un conjunto de pasos generales:
1.  Extrayendo los datos en forma cruda del origen de datos
2.  Dividiendo los datos en bruto usando algoritmos (por ejemplo, clasificación) o analizando los datos en estructuras de datos predefinidas
3.  Finalmente depositando el contenido resultante en un sistema de almacenamiento (o silo) para su uso futuro.

In [47]:
import pandas as pd

In [48]:
# Read path
read_mainpath = "/Users/snopv/PycharmProjects/DataScience_Python/datasets/customer-churn-model"
file = "Customer Churn Model.txt"

read_fullpath = read_mainpath + "/" + file

In [49]:
data = pd.read_csv(read_fullpath)
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### Crear un subconjuto de datos

Subconjunto de columna o columnas

In [50]:
account_length = data["Account Length"]

In [51]:
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [52]:
# Nos devuelve una serie
type(account_length)

pandas.core.series.Series

In [53]:
subset = data[["Account Length", "Phone", "Eve Charge", "Day Calls"]]

In [54]:
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [55]:
# Devuelve un datafram
type(subset)

pandas.core.frame.DataFrame

In [56]:
# Ahora todo junto
desired_columns = ["Account Length", "Phone", "Eve Charge", "Day Calls"]
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

Generar lista con las columnas que no quieres o si quieres.
- Quedarte siempre con la lista más pequeña.

A continuacion a partir de la lista más pequeñas (de otra forma no 
tendría sentido) formamos la lista de columnas no deseadas y las
filtramos de la lista global para obtener las deseadas

In [57]:
# Columnas que sí quieres
no_desired_columns = ["Account Length", "VMail Message", "Day Calls"]
no_desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [58]:
# Crear lista de todas las columnas
all_columns_list = data.columns.values.tolist()
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [59]:
# Obtener lista de las que no quieres
sublist = [x for x in all_columns_list if x not in no_desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [60]:
subset = data[sublist]
subset.head()

,State,Area Code,Phone,Int'l Plan,VMail Plan,Day Mins,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,415,382-4657,no,yes,265.1,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,415,371-7191,no,yes,161.6,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,415,358-1921,no,no,243.4,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,408,375-9999,yes,no,299.4,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,415,330-6626,yes,no,166.7,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Subconjunto de filas con ciertas condiciones

In [61]:
# Seleccionar rango de filas
data[5:10] # el primero es inclusive, el último no

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False.
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False.
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False.
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False.
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False.

In [62]:
# Si omites el primer o el ultimo digito coges desde el primero
# o hasta el ultimo 
data[:5] # equivale a data[0:5]
#data[50:] # Coje desde la 50 hasta el último

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

#### Subconjunto de filas con condiciones booleanas

In [79]:
# Usuarios con Day Mins > 300
data1 = data[data["Day Mins"] > 300]
data1.shape

(43, 21)

In [77]:
# Usuarios de Nueva York (State = "NY")
data2 = data[data["State"]=="NY"]
data2.shape

(83, 21)

Combinar varias condiciones

In [76]:
# AND -> &
data3 = data[(data["Day Mins"] > 300) & (data["State"] == "NY")]
data3.shape

(2, 21)

In [75]:
# OR -> |
data4 = data[(data["Day Mins"] > 300) | (data["State"] == "NY")]
data4.shape

(124, 21)