# Carga de datos a través de la función read_csv

In [36]:
import pandas as pd
import os

In [37]:
# Path para leer los archivos del tuto
mainpath = "/Users/snopv/PycharmProjects/DataScience_Python/datasets/"
# Creado otro mainpath para guardar los scripts generados por mi en vez de
# los del tuto.
my_mainpath = "/Users/snopv/PycharmProjects/DataScience_Python/my_datasets/"
filename = "titanic/titanic3.csv"
#fullpath = mainpath + "/" + filename
fullpath = os.path.join(mainpath,filename)

In [38]:
data = pd.read_csv(fullpath)

In [39]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

#### Ejemplos de los parámetros de la función read_csv

read.csv(filepath="/Users/snopv/PycharmProjects/DataScience_Python/datasets/titanic/titanic3.csv", 
         sep = ",", dtype={"ingresos":np.float64,"edad":np.int32},
         header=0,names={"ingresos", "edad"}, skiprows=12, index_col=None,
         skip_blank_lines=False, na_filter=False)

In [40]:
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", sep=",") 
#CUIDADO: ES EL TXT; NO EL CSV

In [41]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [42]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [43]:
# Cargar datos 
data_cols = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Columns.csv")
# Pasarlos a una lista
data_col_list = data_cols["Column_Names"].tolist()
# Sustituir encabezado por la lista creada
data2 = pd.read_csv(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
# Ver valores de la cabecera
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función open

In [44]:
data3 = open(mainpath + "/" + "customer-churn-model/Customer Churn Model.txt","r")

In [45]:
cols = data3.readline().strip().split(",")
# Número de columnas
n_cols = len(cols)

In [46]:
# Encontrar el número de filas
counter = 0
main_dict = {}  #diccionario
for col in cols:
    main_dict[col] = []

In [47]:
# Por cada línea en el dataset
for line in data3:
    values = line.strip().split(",") # Leer valor de la línea
    
    # Normalmente el range(1,5) tiene un abanico, de 1 al 5 (cuatro veces)
    for i in range(n_cols):
        # Crea un diccionario resultado de la inversa del texto
        # Lo que antes estaba en la posicion mxn pasa a estar nxm
        # Cambia el contenido de filas por columnas
        main_dict[cols[i]].append(values[i])
        
    counter += 1

print("El data set tiene %d filas y %d columnas" %(counter-1, n_cols))

El data set tiene 3332 filas y 21 columnas

##### Explicación del loop anterior
Si el texto tenia como datos "Nombre", "Edad", "Altura":
Linea 1: Daniel, 27 , 1.85
Linea 2: Pablo, 25, 1.75

Recoge la informacion que está en una línea de texto plano, distinguiendo cada parámetro, y guardandolos en un diccionario haciendo referencia a las columnas.

No es exacto, pero para hacerse una idea...:
diccionario = {columna1=Nombre:(Daniel, Pablo), columna2=Edad:(27,25), colummna3=Altura:(1.85,1.75)}

In [48]:
df3 = pd.DataFrame(main_dict)
df3.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

# Lectura y escritura de ficheros

In [49]:
infile = mainpath + "/" + "customer-churn-model/Customer Churn Model.txt"
# Como es de escritura, utilizamos el otro path
outfile = my_mainpath + "/" + "customer-churn-model/Tab Customer Churn Model.txt"

In [50]:
# Crear fichero de salida (outfile) a partir del de entrada (infile)
# Sustituir las separaciones por coma (",") por tabulaciones ("_") con /t
with open(infile, "r") as infile1:
    with open(outfile, "w") as outfile1:
        for line in infile1:
            fields = line.strip().split(",")  #lectura
            outfile1.write("\t".join(fields)) #separador
            outfile1.write("\n")              #intro (salto de linea)

In [51]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [52]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [53]:
medals_data = pd.read_csv(medals_url)

In [54]:
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Leer datos de una URL

In [55]:
import csv # Metodos para gestionar archivos csv
import urllib3 # Acceder y navegar a url

In [56]:
# import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url) #(metodo, url)
r.status
response = r.data
type(response) # Tiene formato Bytes (binario) y debería ser str

#### Ejercicio de descarga de datos con urllib3

Usar la librería urllib3 para leer los datos desde una URL externa, procesarlos y convertirlos a un data frame de python antes de guardarlos en un CSV local.

In [62]:
#Creacion de función para descargar datos de URL y guardalos en un csv local

def downloadFromURL(url, filename, sep=",", delim="\n", encoding="utf-8",
                   mainpath = "/Users/snopv/PycharmProjects/DataScience_Python/my_datasets"):
    
    # Importar la libreria y hacer la conexion con la url
    import urllib3
    http = urllib3.PoolManager()
    r = http.request('GET', url)
    print("El estado de la respuesta es %d" %(r.status))
    response = r.data
    
    # El objeto response contiene un string binario, así que lo convertimos a un string
    # decodificandolo en UTF-8
    str_data = response.decode(encoding)
    
    # Dividimos el string en un array de filas, separandolo por saltos de linea
    lines = str_data.split(delim)
    
    # La primera línea contiene la cabecera, así que la extraemos 
    col_names = lines[0].split(sep)
    n_cols = len(col_names)
    
    # Generamos un diccionario vacío donde irá la información procesada desde
    # la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []
        
    # Procesamos fila a fila la información para ir rellenando el diccionario
    # con los datos como hicimos antes
    for line in lines:
        # Nos saltamos la primera línea que es la que contiene la cabecera
        # y que ya tenemos procesada
        if (counter > 0):
            # Dividimos cada string por las comas como elemento separador
            values = line.strip().split(sep)
            # Añadimos cada vlaor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])                 
        counter += 1
                           
    print("El data set tiene %d filas y %d columnas"%(counter-1, n_cols))
    
    # Convertimos el diccionario procesado a Data Frame y comprobamos que los
    df = pd.DataFrame(main_dict)
    print(df.head())
    
    # Elegimos donde guardarlo (en la carpeta athletes es dnde tiene mas sentidos
    # por el contexto del análisis)
    fullpath = os.path.join(mainpath, filename)
    
    # Lo guardamos en CSV, JSON o en Excel según queramos
    df.to_csv(fullpath + ".csv")
    df.to_json(fullpath + ".json")
    df.to_excel(fullpath + ".xlsx")
    print("Los ficheros se han guardado correctamente en: " + fullpath)
    
    return df

In [63]:
medals_df = downloadFromURL(medals_url, "athletes/downloaded_medals")
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2311 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
Los ficheros se han guardado correctamente en: /Users/snopv/PycharmProjects/DataScience_Python/my_datasets\athletes/downloaded_medals

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Ficheros XLS y XLSX

In [97]:
#mainpath = "/content/drive/My Drive/Curso Machine Learning con Python/datasets"
filename = "titanic/titanic3.xls"

titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

filename = "titanic/titanic3.xlsx"
titanic3 = pd.read_excel(mainpath + "/" + filename, "titanic3")

# Al guardarlo utilizamos el otro path
titanic3.to_csv(my_mainpath + "/titanic/titanic_custom.csv")

# No acepta la version antigual xls.
titanic3.to_excel(my_mainpath + "/titanic/titanic_custom.xlsx")

titanic3.to_json(my_mainpath + "/titanic/titanic_custom.json")